body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
}

/* Styleing Navbar */
nav{
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
}

.nav-items{
  display: flex;
}

.nav-items .nav-item{
  margin-left: 15%;
  font-size: 20px;
}

nav .logo{
  width: 100px;
}

.nav-item:first-child{
  color: #ff4500;
}

/* Styleing Intro Section */
.intro-section{
  display:flex;
  margin-left: 8%;
  margin-top: 3%;
}

/* Left Section */
.left-section h3{
  font-size: 28px;
  font-weight: 500;
}

.left-section h3 img{
  width: 40px;
  margin: 5% 0 0 3%;
}

.left-section h1{
  font-family: 'comic sans ms';
  font-size: 50px;
  margin-top: -5%;
}

.sub-headlines{
  margin-left: 12%;
  font-size: 20px;
  margin-top: 25px;

}

.sub-headlines .sub-headline{
  margin-top: -15px;
}

.sub-headlines .sub-headline::before{
  content: "+";
  text-align: center;
  background-color: #ff4500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  font-size: 22px;
  padding: 5px;
  color: #fff;
  font-weight: 100;
}

.text{
  margin-top: 5%;
  width: 560px;
  font-size: 12px;
}

.action-btn{
  background-color: #ff4500;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: larger;
  border: none;
  color: #fff;
  margin-top: 3%;
  margin-right: 50px;
}

/* Right Section */
.right-section{
  position: relative;
}

.discount-content + img{
  width: 380px;
  position: absolute;
  top: 0%;
  right: -150%;
}

.discount{
  position: absolute;
  width: 125px;
  top: 45%;
  right: 5%;
  z-index: 1;
}

.discount-content{
  position: absolute;
  top: 48%;
  z-index: 1;
  color: #fff;
  left: 45%;
}

.discount-content h1{
  font-family: 'comic sans ms';
  font-weight: 900;
  margin-top: -40%;
  font-size: 40px;
}

.dots{
  display: flex;
  position: absolute;
  top: 85%;
  left: 110%;
}

.dot {
  width: 30px;
  height: 30px;
  background-color: #ffff00;
  border-radius: 30px;
  margin-right: 30px;
}

.tomato-dot{
  background-color: #ff6347;
}

.black-dot{
  background-color: #000;
}

.right-section .action-btn{
  position: inherit;
  top: 95%;
  left: 110%;
}
